.container {
    position: relative;
    width: 336px;
    height: 236px;
    border: 1px  solid #C4C4C4;
    background: white;
    top: 50%;  
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); 

}
.yellov{
    position: absolute;
width: 336px;
height: 28px;
margin: 20;

/* left: 408px; */
/* top: 232px; */

background: #FFDC40;
}
h1 {
    /* height: 34px; */
    /* width: 198px; */
   
    /* left: 200px; */
    text-align: center;
    margin: 35px 0px;
}
.sort-line{
    display: flex;
    justify-content: flex-end;
    margin:30px ;
}
.button{
    text-align: center;
    left: 50px;

}
.h1{
    text-align: center;
    }
    .imput{
        text-align: center;
        position: relative;


background: #FFFFFF


}
.projekt {
    position: relative;
    width: 1152px;
    height: 878px;
    
    background: #FFFFFF;

}
.name {
 
    position: relative;
    width: 1152px;
    height: 878px;
    
    background: #FFFFFF;   
}

   
    
  

